# Placements and More 
_________________________________________________________________________

> objectives

Internships
Experience
Scholarships
Competitions
Platforms
Certifications
Jobs
Volunteering
Events
Projects
References
Networking

_________________________________________________________________________




