# Placements and More 
_________________________________________________________________________

> objectives

Internships
Experience
Scholarships
Competitions
Platforms
Certifications
Jobs
Volunteering
Events
Projects
References
Networking

_________________________________________________________________________

> References

[more expected to refer and study]


https://prepinsta.com/
http://freshersworld.com/
https://www.offcampusjobs4u.com/


________________________________________________________________________

> Tasks

Info Gathering
Logo Website and Interface Desingning
App Development
Interface and Services Designing


_________________________________________________________________________

> Some Websites for our system Designing and Development
[keep addding here guyz we need Services we can use]


fluidui.com
draw.io 
herouko netlify 
iconfinder.com 
logodesigner.com


_________________________________________________________________________